@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    z-index: 1000;
}

.menu-burguer {
    padding: 0px 32px 0px 32px;
}

.nav-sections, .nav-icons {
    display: flex;
    flex-wrap: nowrap;
}

.nav-sections > a {
    text-decoration: none;
    font-size: 1rem;
    color: #212429;
    padding: 8px;
}

.nav-icons {
    padding-right: 32px;
}
.nav-icons > .icon {
    padding: 32px;
}

.main-container {
        width: 1280px;
        margin: 0 auto;
}

h2 {
    position: relative;
    padding-top: 110px;
    padding-left: 16px;
    font-size: 1.5rem;
    font-weight: 800;
}

h2::first-letter {
    font-size: 120%;
}

.product-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 0px 64px 0px 64px;
}

.product > img {
    border-radius: 3%;
    width: 100%;
}

.product {
    padding: 32px;
    width: 100%;
}

.product-info {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    font-size: 14px;
}

.product-price {
    font-weight: bold;

}

.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #212429;
    padding: 32px;
}

.footer > div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer > div > a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.footer .icon {
    border-radius: 50%; 
    padding: 8px;
    background-color: #fff; 
    border: 2px solid #000; 
    display: inline-flex; 
    justify-content: center; 
    align-items: center;
}

@media (max-width: 1279px) and (min-width: 920px) {
    .main-container {
        width: 100%;
    }
}

